.container{
    padding: 37px;
    display: flex;
    flex-direction: column;
    }
    
    .content{
        display: grid;
        gap:50px;
        padding: 10%;
        background-color: hsl(235, 46%, 20%);
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "report work1 play1 study1"
        "report exercise1 social1 selfcare1"
    }
    
    .report{
        grid-area: report;
        display: grid;
        gap: 50px;
        border-radius: 15px;
        box-shadow: 0 0 10px 0 hsl(0, 0%, 0%);
        

    }

    .details{
        background-color: hsl(246, 80%, 60%);
        padding: 20px;
        border-radius: 15px;    
    }
    .para{
        color: white;
    }
    .time{
        background-color: hsl(235, 46%, 20%);
        border-radius: 15px;
        color: white;
    }
    
    li{
        list-style: none;

    }
    .work1{
        grid-area: work1;
        padding-top: 20%;
        background-color: hsl(15, 100%, 70%);
        background-image: url(./images/icon-work.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: top;
        border-radius: 15px;
        z-index: 100;
        
    }
    .play1{
        grid-area: play1;
        padding-top: 20%;
        background-color: hsl(195, 74%, 62%);
        background-image: url(./images/icon-play.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: top;
        border-radius: 15px;
        z-index: 100;
        
    }
    .study1{
        grid-area: study1;
        padding-top: 20%;
        background-color: hsl(348, 100%, 68%);
        background-image: url(./images/icon-study.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: top;
        border-radius: 15px;
        z-index: 100;
        
    }
    .exercise1{
        grid-area: exercise1;
        padding-top: 20%;
        background-color: hsl(145, 58%, 55%);
        background-image: url(./images/icon-exercise.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: top;
        border-radius: 15px;
        z-index: 100;
        
    }
    .social1{
        grid-area: social1;
        padding-top: 20%;
        background-color: hsl(264, 64%, 52%);
        background-image: url(./images/icon-social.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: top;
        border-radius: 15px;
        z-index: 100;
        
    }
    .selfcare1{
        grid-area: selfcare1;
        padding-top: 20%;
        background-color: hsl(43, 84%, 65%);
        background-image: url(./images/icon-self-care.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: top;
        border-radius: 15px;
        z-index: 100;
        
    }
    .work, .play, .study, .exercise, .social, .selfcare {
        background-color: hsl(235, 46%, 20%);
        color: white;
        padding:0 20px 20px;
        box-shadow: 0 0 10px 0 hsl(0, 0%, 0%);
        height: 100%;
        border-radius: 10px;

    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    
